body {
    text-align: center;
    font-size: 16px;
    background-color: #263366;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px; 
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;

}


header {
    margin: 0 auto;
    background-color: rgb(226, 228, 229);
    display: flex;
    align-items: center;
  }

footer {
  border: 1px solid #bbb;
    padding: 0.5rem; 
    background-color: rgb(226, 228, 229);
    display: flex;
    justify-content: space-between;
}

main {
  margin: 1rem auto;
  background-color: rgb(144, 204, 244);
  padding: 1rem;
}

.mainnav a {
  display: block;
  padding: 1rem; 
  text-decoration: none;
  color: #263366;
  font-weight: 700;
  font-size: 1.5rem;
  
}

.mainnav {
  display: flex;
  background-color: rgb(247, 136,136);
  padding: 0;
  width: 100%;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  font-weight: 700;

}

nav {
  width: 100%;
  margin-right: 2rem;
}

 
.logo {
  padding: .5rem;
  margin-left: 1rem;
}
  .mainnav li {
    flex: 1 1 auto; 
    
    padding: 0;
    text-align: center;
  
  }

 .mainnav a:hover {
    color: #263366;
    background-color: rgb(243, 210, 80);
 }

  .label {
    position: absolute;
    top: 235px;
    left: 490px;
    background-color:rgb(247, 136,136);
    opacity: .95;
    padding: 1.5rem;
    border-radius: 25% 10%;
    color: rgb(250, 225, 0);
    font-size: 35px;
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    line-height: 1.5rem;
    
  }
  
  .cta {
    position: absolute;
    top: 300px;
    left: 115px; 
    font-family: 'Indie Flower', cursive;
    padding: 25px;
   
  }

  .cta a:hover {
    color: rgb(95, 95, 150);
    background-color: rgb(250, 225, 0);
    border-radius: 10px;
    padding: 25px;
  }

  .cta a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 25px;
    background-color:  rgb(60, 77, 100);
    border-radius: 10px;
  }

  .img4 img {
    position: relative;
    width: 100%;
  }


  ul {
    list-style: none;
    align-self: center;
  }

  li a {
    text-decoration: none;
    padding: 3rem 2rem 3rem 2rem;
    color: #263366;
    align-self: center;
  }

li {
  display: list-item;
  
}


  h1 {
    color: #263366;
    margin-right: 2rem;
    margin-left: 2rem;
    align-self: center;
    white-space: nowrap;
    font-family: 'Indie Flower', cursive;
  }

  .page{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .social {
    align-self: center;
    margin-right: 1rem;

  }

  .featured {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
  }

  .firstfeatured img{
    border-radius: 50%;
    max-width: 320px;
  }

  .secondfeatured img {
    border-radius: 50%;
    max-width: 320px; 
  }

  .thirdfeatured img {
    border-radius: 50%;
    max-width: 320px;
  }

  h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;

  }
  
  .spotlightsection {
    background-color:rgb(247, 136,136);
    opacity: .9;
    
  }

  .spotlight {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
  }
  .spotlightcontent {
    display: flex;
    justify-content: space-evenly;
    max-width: 450px;
    align-self: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin: 1rem;
    margin-bottom: 2.5rem;

  }

  .spotlight img {
    max-width: 300px;
    border-style: solid;
    border-width: .5rem;
    border-color: #263366;
    border-radius: 10px;
    
  }

  footer {
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
  }

  h3 {
    font-style: italic;

  }