body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(130, 209, 223)
  }

  header, footer {
    margin: 0 auto;
    border: 1px solid #bbb;
    padding: 0.5rem; 
    background-color: rgb(248, 250, 252);
    box-shadow: 7px 5px 3px grey;
    display: flex;
  }

  main {
    margin:  1rem auto;
    background-color: rgb(253, 254, 255);
    padding: 1rem;
    box-shadow: 7px 5px 3px grey;
  }

  .mainnav a {
    display: block;
    padding: 1rem; 
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
  }

  h1 {
    color: rgb(46, 46, 46);
    font-size: 2.2rem;
  }

  .mainnav {
    list-style-type: none;
    display: flex;
    background-color:rgb(209, 73, 73);
    padding: 0;

  }

  .mainnav li {
    flex: 1 1 auto; 
    padding: 0;
    text-align: center;
  }

  .mainnav a:hover {
    color: rgb(249, 249, 250);
    background-color: rgb(16, 3, 95);

  }

/* Class Selectors */
.page{
  max-width: 960px;
  margin: 0 auto;
}


.logo {
  width: 150px;
  height: auto;
  margin-right: 5rem;

}

  body {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .social {
    display: flex;
    align-items: end;
    height: 200px;
    width: 300px;
  
  }

  p {
    color:rgb(15, 3, 59);
  }
  .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
  }


  .nav {
    width: 900px;
  }