body {
  
    background-color: rgb(4, 68, 90);
  }
  
  
  h1 {
    color: rgb(20, 201, 20);
  }

  body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  p {
    color:rgb(54, 10, 95);
  }