body {
    background-color: lightblue;
  }
  
  
  h1 {
    color: rgb(7, 65, 7);
  }

  body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  p {
    color:rgb(54, 10, 95);
  }